---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Sobre Nós"
  description="Loja de instrumentos e blog de música. Um pouco sobre nós"
>
  <main class="container">
    <h1 class="heading">Home</h1>
  </main>
</Layout>

<style></style>
