---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Blog" description="Blog de música, aprendizagem e muito mais!">
  <main class="container">
    <h1 class="heading">Blog</h1>
  </main>
</Layout>

<style></style>
