---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home" description="Loja de instrumentos e blog de música.">
  <main class="container">
    <h1 class="heading">Home</h1>
  </main>
</Layout>

<style></style>
