---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Loja" description="Loja de guitarras e blog de música. Guitarras Dale, Young, Cobain e mais">
  <main class="container">
    <h1 class="heading">Loja</h1>
  </main>
</Layout>

<style></style>
