---
import logo from '/img/logo.svg';

const pathName = Astro.url.pathname;
---

<header class="header">
  <div class="container bar">
    <a href="/">
      <img src={logo} alt="logo" />
    </a>
    <nav class="navigation">
      <a href="/" class={pathName === '/' ? 'active' : ''}>Home</a>
      <a href="/about-us" class={pathName === '/about-us' ? 'active' : ''}
        >Sobre Nós</a
      >
      <a href="/store" class={pathName === '/store' ? 'active' : ''}>Loja</a>
      <a href="/blog" class={pathName === '/blog' ? 'active' : ''}>Blog</a>
    </nav>
  </div>
</header>

<style>
  .header {
    background-image: linear-gradient(
        to right,
        rgb(0 0 0 / 0.8),
        rgb(0 0 0 / 0.7)
      ),
      url(../img/header.jpg);
    padding: 5rem 0;
    background-position: center;
    background-size: cover;
  }
  .header img {
    width: 30rem;
  }

  .bar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (min-width: 768px) {
    .bar {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .navigation {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  @media (min-width: 768px) {
    .navigation {
      margin: 0;
    }
  }
  .navigation a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.5rem;
    transition-property: background-color;
    transition-duration: 300ms;
  }
  .navigation a:hover,
  .active {
    background-color: var(--primary);
  }
</style>
